{% if site.cdn.enabled %}
  {% if include.type == 'js' %}
    {{ site.cdn.url }}@{{ site.cdn.version }}/assets/js/{{ include.file }}
  {% elsif include.type == 'css' %}
    {{ site.cdn.url }}@{{ site.cdn.version }}/assets/css/{{ include.file }}
  {% elsif include.type == 'img' %}
    {{ site.cdn.url }}@{{ site.cdn.version }}/assets/images/{{ include.file }}
  {% endif %}
{% else %}
  {% if include.type == 'js' %}
    {{ site.baseurl }}/assets/js/{{ include.file }}
  {% elsif include.type == 'css' %}
    {{ site.baseurl }}/assets/css/{{ include.file }}
  {% elsif include.type == 'img' %}
    {{ site.baseurl }}/assets/images/{{ include.file }}
  {% endif %}
{% endif %} 