@use 'sass:map';
@use 'variables';
@use 'mixins';

body {
  font-family: map.get(variables.$font-families, primary);
  font-size: map.get(variables.$font-sizes, base);
  line-height: 1.5;
  color: map.get(map.get(variables.$colors, neutral), gray-500);
}

h1, h2, h3, h4, h5, h6 {
  font-family: map.get(variables.$font-families, secondary);
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: map.get(variables.$spacing, base);
}

h1 {
  @include mixins.font-size(3xl);
  @media screen and (min-width: map.get(variables.$breakpoints, md)) {
    @include mixins.font-size(4xl);
  }
}

h2 {
  @include mixins.font-size(2xl);
  @media screen and (min-width: map.get(variables.$breakpoints, md)) {
    @include mixins.font-size(3xl);
  }
}

h3 {
  @include mixins.font-size(xl);
  @media screen and (min-width: map.get(variables.$breakpoints, md)) {
    @include mixins.font-size(2xl);
  }
}

p {
  margin-bottom: map.get(variables.$spacing, base);
}

a {
  color: map.get(map.get(variables.$colors, primary), base);
  text-decoration: none;
  transition: color 0.3s ease;

  &:hover {
    color: map.get(map.get(variables.$colors, primary), dark);
  }
}
